extends ../layout

block content
    .container 
        h1 Crear un usuario

        form.row.g-3(action="/usuarios/create", method="post") 
            
            .col-md-6
                label.form-label(for="username") Usuario
                input.form-control(type="text", name="username", id="username", required)
                label.form-label(for="password") Contraseña
                input.form-control(type="password", name="password" id="password", required)
                br
            .col-md-6
                label.form-label(for="nombre") Nombre
                input.form-control(type="text", name="nombre", id="nombre", required)
                label.form-label(for="apellido") Apellidos
                input.form-control(type="text", name="apellido" id="apellido", required)
            .col-md-6
                label.form-label(for="telefono") Teléfono
                input.form-control(type="number", name="telefono", id="telefono", required)
            .col-md-6
                label.form-label(for="email") Correo Electrónico 
                input.form-control(type="email", name="email", id="email", required)
            .col-md-6
                p Seleccione un tipo de usuario:
                .form-check
                    label.form-check-label(for="cliente") Cliente
                    input.form-check-input(type="radio", name="rol", value="cliente", id="cliente", required)
                .form-check
                    label.form-check-label(for="operario") Operario
                    input.form-check-input(type="radio", name="rol", value="operario", id="operario")
            .col-12
                button.btn.btn-success.m-1(type="submit") Añadir
                a.btn.btn-danger.m-1(href="/usuarios") Cancelar